/* Common Main Colors */
$background-color: #eef3f7;
$container-background-color: #f9f9f9;
$container-border-color: #e5e5e5;
$white-color: #ffffff;
$color-white: #ffffff;
$black-color: #000000;
$color-black: #000000;
$color-grey: #d6d6d6;
$hyperlink-text-color: #2055b5;
$primary-text-color: #666666;
$secondary-text-color: #333333;
$primary-btn-color: #2055b5;
$mini-tab-border-color: #6e90cf;
$pill-active-color: #008a07;
$pill-incomplete-color: #1077b0;
$pill-inactive-color: #666666;
$legend-primary: #8faada;
$legend-active: #80c483;
$legend-secondary: #694298;

$pagination-bg-color: #f9f9f9;
$switch-border-color: #cccccc;
$switch-active-color: #2055b5;
$multisort-text-color: #999999;
$grid-row-bg-color: #eef3f7;


$input-field-border: #dddddd;
$input-text-placeholder: #999999;


// TEXT

$secondary-text-color: #707683;
$secondary-text-color-dark: #323c47;
$placeholder-text-color: #aaaaaa;
$placeholder-text-color-dark: #999999;
$button-text-color: #5f80b9;
$list-text-color: #323c47;
$list-chip-text-color: #999999;
$list-primary-heading-color: #323c47;
$list-date-color: #707683;
$label-text-color: #323c47;
$primary-heading-text-color: #2055b5;
$main-tab-text-active-color: #2055b5;
$main-tab-text-inactive-color: #666666;

// BORDER

$button-border-color: #c2cfe0;

