@import "../../styles/colors.scss";


.Q-layout-root {
	height: 100%;

	.logo {
		font-weight: bold;
	}

	section.ant-layout.layout {
		height: 100%;

		header.ant-layout-header{
			background-color: $primary-color;
			.ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-dark{
			
					background-color: $primary-color !important;
				
				justify-content: flex-end;
				li{
					background-color: transparent;
					font-weight:bold;
				}
			}
		}
	}
	.site-layout-content {
		// min-height: 80vh;
		padding: 24px;
;
	}

	@media screen and (max-width:760px){
		.site-layout-content {
			// min-height: 100vh;
			height:100%
		}
	}
	.logo {
		float: left;
		height: 31px;
		padding:5px;
		color:$white-color;
		
	}
	
		[data-theme="dark"] .site-layout-content {
			background: #141414;
		}
}